:root {
  --primary:#fff;
}

.btn1 {
  padding: 5px 60px;
  outline: none;
  border: solid;
  border-color: rgb(52,52,235);
  background-color:#fff;
  border-width: 1px;
  color: rgb(52,52,235);
  cursor: pointer;
  width: 72%;

}
.btn1 h2{
  font-size: 1.8vw;
}

.btn1:hover {
  color: #fff;
  background-color: blue;
  width: 74%;
  transition: all 0.3s ease-out;
}


.btn2 {
  outline: none;
  padding-top:5px;
  padding-bottom:0px;
  background-color: #fff;
  border: 1px solid rgb(235, 82, 52);
  color: rgb(235, 82, 52);
  cursor: pointer;
  margin-top:1%;
  margin-left:40%;
  width:40%;
  white-space: nowrap;
}
.btn2 h2{
  font-size: 1.8vw;
  width: 100%;
}

.btn2:hover {
  transition: all 0.3s ease-out;
  color: #fff;
  background-color: rgb(235, 82, 52);
  width: 42%;
  transition: all 0.3s ease-out;
}

.btn3 {
  outline: none;
  border: solid;
  width: 10%;
  border-color: red;
  border-width: 1px;
  font-size:1vw;
  color: white;
  cursor: pointer;
  margin-top:10px;
  background-color: rgb(235, 82, 52);
}

.btn3:hover {
  width: 12%;
  transition: all 0.3s ease-out;
  color: #fff;
  background-color: rgb(235, 82, 52);
  transition: all 0.3s ease-out;
}

@media screen and (max-width:960px){
  .btn1{
    padding: 5px 5px 0px 5px;
    outline: none;
    border: solid;
    border-color: rgb(52,52,235);
    background-color:#fff;
    border-width: 1px;
    color: rgb(52,52,235);
    cursor: pointer;  
  }

}