.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  text-align: center;
  align-items: center;
  padding-top:5%;
  padding-bottom: 5%;
  align-items: center;
  border-top:transparent;
  box-shadow:inset 10px 10px 30px lightgray;
}
.social-media{
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end: 2;
}
.item1{
grid-area:one;
}

.item2{
  grid-area:two;
}

.item3{
  grid-area:three;
}

.item4{
  grid-area:four;
}

.item5{
  grid-area:five;
  white-space: nowrap;
}

.item6{
  grid-area:six;
}


.links{
display: grid;
grid-template-areas: 'one two three four five six';
grid-column-gap: 5%;
justify-content: end;
align-items: start;
}
.footer-links{
  margin:20px;
  margin-right:20%;
}
.footer-links h6{
  font-size:1vw;
}
.footer-links h6::after{
  font-size: 0.7vmax;
}
.item4 {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
}
.item5{
  display: flex;
  flex-direction: column;
  font-size: 1vw;
}


.item8 li{
  color:black;
}
ul{
  list-style: none;
 
}
.footer-link-items h6{
  color:black;
}
.social{
  margin-left: -50%;
  margin-top: 1%;
}
.social li{
  border:1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  padding:0.5%;
  padding-top: 0.1%;
  padding-bottom: 0.1%; ;
  font-size: 1vw;
  
  
}
.fa-facebook-f{
  padding-right: 4px;
  padding-left: 4px;
}
.footer-drop{
  color:black;
}
.footer-link-items{
margin-left: 4%;

}
@media screen and (max-width:960px){
  .social{
    background-color: white;
    margin-left: -25%;
  }
}