.icon{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 40%;
    margin-top:60px;
    padding-bottom: 5%;
  }

  .general-container{
    margin-left: 15%;
    margin-right: 15%;
  }


  .container-1{
   /* display:flex;
    flex-wrap:nowrap;
    
    justify-content: center;
    padding-left: 0px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: repeat(1, 1fr );
    grid-column-gap: 0px;
    grid-row-gap:0px;
    text-align: center;
    margin-left: 0px;
    width:100%;
    margin-top:15%;
  
  }

  .container-6{
   /* display:flex;
    flex-wrap:nowrap;
    margin-top:200px;
    justify-content: center;
    padding-left: 0px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: repeat(1, 1fr );
    grid-column-gap: 0px;
    grid-row-gap:0px;
    text-align: center;
    margin-left: 0px;
    width:100%;
    margin-top:15%;
    
  }
  .text1-heading{
    font-size:2.5vw;
  }
  .persons{
    width:70%;
  }

  .persons:hover{
    transform: scale(1.1);
    transition: 300ms;
  }

  .nurse{
    width:70%;
   
  }

  .nurse:hover{
    transform: scale(1.1);
    transition: 300ms;
  }

  .canadian-nurse{
    font-size:2vw;
    text-decoration: underline;
  }

  .context1{
    font-size: 2vw;
  }

  .context2{
    font-size: 2vw;
  }

  .text-1{
    max-width:100%;
    text-align: left;
  }


  .container-2{

    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: repeat(1, 1fr );
    grid-column-gap:0vw;
    grid-row-gap: 0px;
    text-align: center;
    margin-top: 15%;
    width:100%;
    margin-left: 0vw;

  }
  p{
    font-weight: lighter;
  }
  
  .text-2{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width:70%;
    justify-items: self-end;
    text-align: left;
  }
  .text-2 h1{
    font-size: 2.5vw;
  }
  .read{
    font-size: 2.2vw;
    color:rgb(235, 82, 52);
  }
  .read:hover{
    margin-right: 5px;
  }
  .service{
    color:rgb(235, 82, 52);
    font-size: 2.2vw;
  
  }
  .health{
    color:rgb(149,235,52);
    font-size:1.8vw;
  }
  
  .container-3{
    margin-top:80px;
    margin-left: 30%;
    margin-right:30%;
    align-items: center;
    color:rgb(235, 82, 52);
    text-align: center;
  }
  .container-3 p{
    text-align: center;}
  
  .container-4{
  
    margin-left: 40%;
    margin-top: 7vw;
  }
  .brands{
    font-size: 2.5vw;
    text-align: center;
  }
  .header4{
    margin-bottom: 30px;
    font-size: 2.5vw;
  }
  blockquote{
    margin-left: 30px;
 
  }
  blockquote h3{
    font-size: 1.5vw;
  }
  
  .text5 p{
  text-decoration: underline;
  }

  .text5-container{
    grid-area: right;
    margin-right: 0%;
  }
  .user-icons{
    grid-area: left;
  }
  .container-5{
    display: grid;
    grid-template-areas:'left right' ;
    grid-column-gap:20%;
    grid-row-gap: 0px;
    margin-top: 5%;

  }
  .william{
    width: 40%;
  }


.carousel-indicators .active{
    background-color: #f00;
    color:black;
  }

  .carousel-indicators li {
    background-color:lightgray;
  }

  .d-block{
    padding:'50px';
  
  }
  .client-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr );
    grid-template-rows: repeat(3, 1fr );
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    width:130%;
    justify-content: center;

    
  }
  
  .client{
    width:100%;
    filter: grayscale(100%);
  }

  .client:hover{
    filter:grayscale(0%);
  }

  .container-5 h6{
    color:rgb(235, 180, 52);
  }
  .text5-header{
    font-size: 2vw;
  }
  .text5-container h6{
    font-size: 1vw;
  }
  .text5-container h3{
    font-size: 1.4vw;
  }
  .user1{grid-area:left1;}
  .user2{grid-area:left2}
  .user3{grid-area:right1;}
  .user4{grid-area:right2;}
  .user5{grid-area:right3;}

  .user-icons{
    position:relative;
    width: 25vw;
    height: 25vw;
    display: grid;
    grid-template-areas: '. left1  .'
                         '. left2  .'
                         '. . right1 '
                         '. . right2 '
                         '. . right3 ';
    text-align: left;
    border:1px solid transparent;
    padding-bottom: 5%;
    background-image: url('../images/orange-texture.jpg');
    
  }


  .user-icons::after{
    content: "";

  }
  .user{
    position: absolute;
    width: 100%;
    height: 100%;
  }

    .user-icons:hover{
      transform: scale(1.1);
      transition: 300ms;
    }

    .carousel{
      z-index: -1;
    }
    .user{
      font-size: 2.5vw;
    }

    @media screen and (max-width:960px){

      .container-5{
        width: 100%;
      }
      .persons{
        width: 100%;
      }
      .nurse{
        width: 100%;
      }

      .container-6{
        margin-top:25%;
      }
      .text-2{
        margin-left: 30%;
      }


    }
    @media screen and (max-width:375px){
      .text-2{
        padding-top: 5vh;
      }
    }

