.googlemaps img{
    width:100%;
    margin-top:15%;
    background-color:rgb(235, 82, 52) ;
    margin-bottom: 0px;
  
  }
  .googlemaps h1{
    font-size: 2.1vw;
    white-space: nowrap;
  }
  .googlemaps ul li{
    font-size: 1vmax;
  }
  .map-text-container{
    display:flex;
    color: white;
    padding-top:2%;
    justify-content: center;
    padding-bottom:2%;
    background-color:rgb(235, 82, 52) ;
    
  }
  @media screen and (max-width:960px){
    .map-text-container{
width: 100%;    }
    
  }